* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.main-board {
  position: relative;
  overflow: hidden;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.header > div:nth-child(1), .header > div:nth-child(3) {
  width: calc((100% - 738px) / 2);
  display: flex;
  justify-content: center;
}

.touch-btn {
  width: 170px;
  height: 44px;
  text-align: center;
  padding: 12px 0px 10px 0px;
  border: 2px #6B07ED solid;
  border-radius: 30px;
  color: #000000;
  font-family: var(--font-1-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-1-font-size, 16px);
  font-weight: var(--font-1-font-weight, 400);
}
.touch-btn:hover {
  cursor: pointer;
  background: #6B07ED;
  color: #fff;
}



.navbar {
  background: #ffffff;
  border-radius: 30px;
  padding: 0px 35px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(--shadow-box-shadow, 0px 8px 35px 1px rgba(0, 0, 0, 0.25));
  width: 738px;
  height: 44px;
  font-family: var(--font-1-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-1-font-size, 16px);
  font-weight: var(--font-1-font-weight, 400);
}
.navbar div {
  width: 25%;
  text-align: center;
  padding-top: 13px;
}
.navbar div:hover {
  cursor: pointer;
  color: #6B07ED;
}





.ellipse-3 {
  background: rgba(107, 7, 237, 0.3);
  border-radius: 50%;
  width: 353px;
  height: 678px;
  transform-origin: 0 0;
  transform: rotate(21.509deg) scale(1, 1);
  filter: blur(150px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}


.ellipse-4 {
  background: rgba(107, 7, 237, 0.3);
  border-radius: 50%;
  width: 353px;
  height: 678px;
  transform-origin: 0 0;
  transform: rotate(-12.624deg) scale(1, 1);
  filter: blur(150px);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -10;
}




.cta {
  width: 528px;
  height: 54px;
  border-radius: 30px;
  border: 1px #000 solid;
  margin: 2em auto 3em auto;
  padding: 5px;
  display: flex;
}
.input-email {
  width: calc(100% - 170px - 40px);
  height: 34px;
  margin: 5px 20px 5px 20px;
  border: none;
  outline: none;
  background: none;
  font-family: var(--font-1-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-1-font-size, 16px);
  font-weight: var(--font-1-font-weight, 400);
}
.input-touch-btn {
  width: 170px;
  height: 44px;
  text-align: center;
  padding: 12px 0px 10px 0px;
  border: 2px #6B07ED solid;
  border-radius: 30px;
  color: #000000;
  font-family: var(--font-1-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-1-font-size, 16px);
  font-weight: var(--font-1-font-weight, 400);
}
.input-touch-btn:hover {
  cursor: pointer;
  background: #6B07ED;
  color: #fff;
}





.frame-4 {
  margin: 3rem auto 0 auto;
  text-align: center;
  font-family: var(--font-1-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-1-font-size, 95px);
  font-weight: var(--font-1-font-weight, 400);
}
.mySlides {
  display: none;
}
.fade {
  animation-name: fade;
  animation-duration: 3s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




.automate-workflows-engage-customers-and-cut-costs-effortlessly-to-boost-your-business {
  color: #000000;
  text-align: center;
  font-family: var(--font-3-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-3-font-size, 20px);
  line-height: var(--font-3-line-height, 150%);
  font-weight: var(--font-3-font-weight, 400);
  position: relative;
  height: 50px;
  margin: 2rem auto 0 auto;
}






.main-image {
  margin: auto;
  max-width: 1100px;
  height: 712px;
  position: relative;
  overflow: hidden;
}
.background-complete {
  height: auto;
  position: absolute;
  left: 64.48px;
  top: 0.03px;
  overflow: visible;
}
.floor {
  height: auto;
  position: absolute;
  left: 27.52px;
  top: 623.15px;
  overflow: visible;
}
.plant {
  height: auto;
  position: absolute;
  left: 914.59px;
  top: 412.06px;
  overflow: visible;
}
.character-2 {
  height: auto;
  position: absolute;
  left: 167.33px;
  top: 8.03px;
  overflow: visible;
}
.code {
  height: auto;
  position: absolute;
  left: 314.02px;
  top: 382.4px;
  overflow: visible;
}
.text {
  height: auto;
  position: absolute;
  left: 691.47px;
  top: 430.55px;
  overflow: visible;
}
.tools {
  height: auto;
  position: absolute;
  left: 811.24px;
  top: 269.96px;
  overflow: visible;
}
.colors {
  height: auto;
  position: absolute;
  left: 792.22px;
  top: 54.05px;
  overflow: visible;
}
.character-1 {
  height: auto;
  position: absolute;
  left: 45.31px;
  top: 211.39px;
  overflow: visible;
}






.works-board {
  position: relative;
  width: 1100px;
  height: 2950px;
  margin: auto;
  padding: 0 10px 0 10px;
}
.works-board > div:hover {
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgb(151,82,243);
  transition: box-shadow linear .2s;
}



.benefits {
  position: relative;
  margin-left: -150px;
}
.line {
  width: 672px;
  height: 2489px;
  position: absolute;
  left: 259px;
  top: 210px;
  overflow: visible;
}
.line-4 {
  margin-top: -2px;
  border-style: dashed;
  border-color: var(--primary, #6b07ed);
  border-width: 2px 0 0 0;
  width: 782px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 32px;
}
.how-it-works {
  color: #000000;
  text-align: left;
  font-family: var(--font-5-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-5-font-size, 20px);
  font-weight: var(--font-5-font-weight, 700);
  position: absolute;
  left: 149px;
  top: 0px;
}

.line-17 {
  border-style: dashed;
  border-color: var(--primary, #6b07ed);
  border-width: 2px 0 0 0;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
  width: 493px;
  height: 0px;
  position: absolute;
  top: 2700px;
  left: 780px;
}
.line-11 {
  border-style: dashed;
  border-color: var(--primary, #6b07ed);
  border-width: 2px 0 0 0;
  width: 64px;
  height: 0px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  position: absolute;
  top: 1250px;
  left: 260px;
}
.line-14 {
  border-style: dashed;
  border-color: var(--primary, #6b07ed);
  border-width: 2px 0 0 0;
  width: 134px;
  height: 0px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  position: absolute;
  top: 1670px;
  left: 930px;
}




.icon2 {
  display: none;
}




.benefits-1-panel {
  position: absolute;
  top: 15;
  right: 10;
}
.benefits-1-panel:hover .icon1 {
  display: none;
}
.benefits-1-panel:hover .icon2 {
  display: block;
}

.benefits-1 {
  background: var(--white, #ffffff);
  border-radius: 30px;
  border-style: solid;
  border-color: var(--strokt-primary, rgba(107, 7, 237, 0.7));
  border-width: 2px;
  width: 511px;
  height: 398px;
  position: relative;
  box-shadow: var(--shadow-box-shadow, 0px 8px 35px 1px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}
.benefits-1 .automation-setup {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-4-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-4-font-size, 24px);
  font-weight: var(--font-4-font-weight, 700);
  position: absolute;
  left: 26px;
  top: 100px;
}
.benefits-1 .set-up-your-automation-in-three-steps-select-a-trigger-connect-your-apps-and-create-natural-language-instructions-ai-provides-all-the-tools-you-need-for-integration-and-automation {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-2-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-2-font-size, 24px);
  font-weight: var(--font-2-font-weight, 400);
  position: absolute;
  left: 26px;
  top: 154px;
  width: 459px;
  height: 184px;
}
.benefits-1 .mini-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 9px;
  overflow: hidden;
}
.benefits-1 .group {
  height: auto;
  position: absolute;
  left: 4px;
  top: 0px;
  overflow: visible;
}
.benefits-1 .big-icon {
  width: 484px;
  height: 535.29px;
  position: absolute;
  left: 151px;
  top: 35px;
}
.benefits-1 .group2 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}







.benefits-2-panel {
  position: absolute;
  top: 190;
  left: 10;
}
.benefits-2-panel:hover .icon1 {
  display: none;
}
.benefits-2-panel:hover .icon2 {
  display: block;
}

.benefits-2 {
  background: var(--white, #ffffff);
  border-radius: 30px;
  border-style: solid;
  border-color: var(--strokt-primary, rgba(107, 7, 237, 0.7));
  border-width: 2px;
  width: 511px;
  height: 398px;
  position: relative;
  box-shadow: var(--shadow-box-shadow, 0px 8px 35px 1px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}
.benefits-2 .customer-engagement {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-4-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-4-font-size, 24px);
  font-weight: var(--font-4-font-weight, 700);
  position: absolute;
  left: 26px;
  top: 100px;
}
.benefits-2 .ai-ensures-instant-24-7-support-responds-to-customers-in-seconds-integrates-into-your-website-and-uses-knowledge-bases-to-provide-accurate-answers {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-2-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-2-font-size, 24px);
  font-weight: var(--font-2-font-weight, 400);
  position: absolute;
  left: 26px;
  top: 154px;
  width: 459px;
  height: 184px;
}
.benefits-2 .mini-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 9px;
  overflow: hidden;
}
.benefits-2 .tabler-headset {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.benefits-2 .group {
  width: 66.67%;
  height: 79.17%;
  position: absolute;
  right: 16.67%;
  left: 16.67%;
  bottom: 8.33%;
  top: 12.5%;
  overflow: visible;
}
.benefits-2 .big-icon {
  width: 484px;
  height: 535.29px;
  position: absolute;
  left: 151px;
  top: 35px;
}
.benefits-2 .tabler-headset2 {
  width: 484px;
  height: 484px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.benefits-2 .group2 {
  width: 66.67%;
  height: 79.17%;
  position: absolute;
  right: 16.67%;
  left: 16.67%;
  bottom: 8.33%;
  top: 12.5%;
  overflow: visible;
}





.benefits-4-panel {
  position: absolute;
  top: 580;
  right: 10;
}
.benefits-4-panel:hover .icon1 {
  display: none;
}
.benefits-4-panel:hover .icon2 {
  display: block;
}

.benefits-4 {
  background: var(--white, #ffffff);
  border-radius: 30px;
  border-style: solid;
  border-color: var(--strokt-primary, rgba(107, 7, 237, 0.7));
  border-width: 2px;
  width: 511px;
  height: 398px;
  position: relative;
  box-shadow: var(--shadow-box-shadow, 0px 8px 35px 1px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}
.benefits-4 .lead-and-sales-management {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-4-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-4-font-size, 24px);
  font-weight: var(--font-4-font-weight, 700);
  position: absolute;
  left: 26px;
  top: 100px;
}
.benefits-4 .ai-helps-you-find-and-qualify-leads-automate-outreach-prepare-sales-documents-and-set-follow-up-reminders-for-improved-sales-efficiency {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-2-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-2-font-size, 24px);
  font-weight: var(--font-2-font-weight, 400);
  position: absolute;
  left: 26px;
  top: 154px;
  width: 459px;
  height: 184px;
}
.benefits-4 .mini-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 9px;
  overflow: hidden;
}
.benefits-4 .tabler-coin {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.benefits-4 .group {
  width: 75%;
  height: 75%;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  bottom: 12.5%;
  top: 12.5%;
  overflow: visible;
}
.benefits-4 .big-icon {
  width: 484px;
  height: 504px;
  position: absolute;
  left: 151px;
  top: 35px;
}
.benefits-4 .tabler-coin2 {
  width: 484px;
  height: 504px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.benefits-4 .group2 {
  width: 75%;
  height: 75%;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  bottom: 12.5%;
  top: 12.5%;
  overflow: visible;
}





.benefits-5-panel {
  position: absolute;
  top: 790;
  left: 10;
}
.benefits-5-panel:hover .icon1 {
  display: none;
}
.benefits-5-panel:hover .icon2 {
  display: block;
}

.benefits-5 {
  background: var(--white, #ffffff);
  border-radius: 30px;
  border-style: solid;
  border-color: var(--strokt-primary, rgba(107, 7, 237, 0.7));
  border-width: 2px;
  width: 511px;
  height: 398px;
  position: relative;
  box-shadow: var(--shadow-box-shadow, 0px 8px 35px 1px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}
.benefits-5 .advanced-support-features {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-4-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-4-font-size, 24px);
  font-weight: var(--font-4-font-weight, 700);
  position: absolute;
  left: 26px;
  top: 100px;
}
.benefits-5 .ai-collects-conversation-data-shares-key-quotes-with-your-team-answers-slack-questions-and-keeps-your-knowledge-base-updated-in-real-time {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-2-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-2-font-size, 24px);
  font-weight: var(--font-2-font-weight, 400);
  position: absolute;
  left: 26px;
  top: 154px;
  width: 459px;
  height: 184px;
}
.benefits-5 .mini-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 9px;
  overflow: hidden;
}
.benefits-5 .tdesign-chart-analytics {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.benefits-5 .big-icon {
  width: 484px;
  height: 535.29px;
  position: absolute;
  left: 60px;
  top: 89px;
}
.benefits-5 .tdesign-chart-analytics2 {
  width: 484px;
  height: 484px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}






.benefits-6-panel {
  position: absolute;
  top: 1170;
  right: 10;
}
.benefits-6-panel:hover .icon1 {
  display: none;
}
.benefits-6-panel:hover .icon2 {
  display: block;
}

.benefits-6 {
  background: var(--white, #ffffff);
  border-radius: 30px;
  border-style: solid;
  border-color: var(--strokt-primary, rgba(107, 7, 237, 0.7));
  border-width: 2px;
  width: 511px;
  height: 398px;
  position: relative;
  box-shadow: var(--shadow-box-shadow, 0px 8px 35px 1px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}
.benefits-6 .email-optimization {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-4-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-4-font-size, 24px);
  font-weight: var(--font-4-font-weight, 700);
  position: absolute;
  left: 26px;
  top: 100px;
}
.benefits-6 .save-time-with-automated-email-sorting-draft-creation-and-inbox-organization-ai-simplifies-email-management-for-you {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-2-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-2-font-size, 24px);
  font-weight: var(--font-2-font-weight, 400);
  position: absolute;
  left: 26px;
  top: 154px;
  width: 459px;
  height: 184px;
}
.benefits-6 .mini-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 9px;
  overflow: hidden;
}
.benefits-6 .line-md-email-check {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.benefits-6 .mask-group {
  height: auto;
  position: absolute;
  left: 10px;
  top: 16.67px;
  overflow: visible;
}
.benefits-6 .big-icon {
  width: 484px;
  height: 535.29px;
  position: absolute;
  left: 151px;
  top: 35px;
}
.benefits-6 .line-md-email-check2 {
  width: 484px;
  height: 484px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.benefits-6 .mask-group2 {
  height: auto;
  position: absolute;
  left: 60.5px;
  top: 100.83px;
  overflow: visible;
}







.benefits-7-panel {
  position: absolute;
  top: 1380;
  left: 10;
}
.benefits-7-panel:hover .icon1 {
  display: none;
}
.benefits-7-panel:hover .icon2 {
  display: block;
}

.benefits-7 {
  background: var(--white, #ffffff);
  border-radius: 30px;
  border-style: solid;
  border-color: var(--strokt-primary, rgba(107, 7, 237, 0.7));
  border-width: 2px;
  width: 511px;
  height: 398px;
  position: relative;
  box-shadow: var(--shadow-box-shadow, 0px 8px 35px 1px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}
.benefits-7 .meeting-assistant {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-4-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-4-font-size, 24px);
  font-weight: var(--font-4-font-weight, 700);
  position: absolute;
  left: 26px;
  top: 100px;
}
.benefits-7 .ai-records-meetings-takes-notes-suggests-time-slots-for-scheduling-and-provides-feedback-to-improve-your-discussions {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-2-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-2-font-size, 24px);
  font-weight: var(--font-2-font-weight, 400);
  position: absolute;
  left: 26px;
  top: 154px;
  width: 459px;
  height: 184px;
}
.benefits-7 .mini-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 9px;
  overflow: hidden;
}
.benefits-7 .line-md-calendar {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.benefits-7 .vector {
  width: 58.33%;
  height: 12.5%;
  position: absolute;
  right: 20.83%;
  left: 20.83%;
  bottom: 66.67%;
  top: 20.83%;
  overflow: visible;
}
.benefits-7 .group {
  width: 66.67%;
  height: 75%;
  position: absolute;
  right: 16.67%;
  left: 16.67%;
  bottom: 16.67%;
  top: 8.33%;
  overflow: visible;
}
.benefits-7 .big-icon {
  width: 484px;
  height: 487px;
  position: absolute;
  left: 151px;
  top: 35px;
}
.benefits-7 .line-md-calendar2 {
  width: 487px;
  height: 487px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.benefits-7 .vector2 {
  width: 58.33%;
  height: 12.5%;
  position: absolute;
  right: 20.83%;
  left: 20.83%;
  bottom: 66.67%;
  top: 20.83%;
  overflow: visible;
}
.benefits-7 .group2 {
  width: 66.67%;
  height: 75%;
  position: absolute;
  right: 16.67%;
  left: 16.67%;
  bottom: 16.67%;
  top: 8.33%;
  overflow: visible;
}





.benefits-8-panel {
  position: absolute;
  top: 1800;
  right: 10;
}
.benefits-8-panel:hover .icon1 {
  display: none;
}
.benefits-8-panel:hover .icon2 {
  display: block;
}

.benefits-8 {
  background: var(--white, #ffffff);
  border-radius: 30px;
  border-style: solid;
  border-color: var(--strokt-primary, rgba(107, 7, 237, 0.7));
  border-width: 2px;
  width: 511px;
  height: 398px;
  position: relative;
  box-shadow: var(--shadow-box-shadow, 0px 8px 35px 1px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}
.benefits-8 .scaling-and-data-management {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-4-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-4-font-size, 24px);
  font-weight: var(--font-4-font-weight, 700);
  position: absolute;
  left: 26px;
  top: 100px;
}
.benefits-8 .ai-automates-calls-communicates-with-customers-in-50-languages-processes-large-data-sets-and-supports-multiple-accounts-from-the-same-service {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-2-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-2-font-size, 24px);
  font-weight: var(--font-2-font-weight, 400);
  position: absolute;
  left: 26px;
  top: 154px;
  width: 459px;
  height: 184px;
}
.benefits-8 .mini-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 9px;
  overflow: hidden;
}
.benefits-8 .mynaui-globe {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.benefits-8 .big-icon {
  width: 484px;
  height: 535.29px;
  position: absolute;
  left: 151px;
  top: 35px;
}
.benefits-8 .mynaui-globe2 {
  width: 484px;
  height: 484px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}






.benefits-9-panel {
  position: absolute;
  top: 2030;
  left: 10;
}
.benefits-9-panel:hover .icon1 {
  display: none;
}
.benefits-9-panel:hover .icon2 {
  display: block;
}

.benefits-9 {
  background: var(--white, #ffffff);
  border-radius: 30px;
  border-style: solid;
  border-color: var(--strokt-primary, rgba(107, 7, 237, 0.7));
  border-width: 2px;
  width: 511px;
  height: 398px;
  position: relative;
  box-shadow: var(--shadow-box-shadow, 0px 8px 35px 1px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}
.benefits-9 .ai-model-configuration {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-4-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-4-font-size, 24px);
  font-weight: var(--font-4-font-weight, 700);
  position: absolute;
  left: 26px;
  top: 100px;
}
.benefits-9 .choose-ai-models-that-suit-your-tasks-best-and-manage-processes-at-any-stage-lindy-supports-collaboration-among-multiple-agents {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-2-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-2-font-size, 24px);
  font-weight: var(--font-2-font-weight, 400);
  position: absolute;
  left: 26px;
  top: 154px;
  width: 459px;
  height: 184px;
}
.benefits-9 .mini-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 9px;
  overflow: hidden;
}
.benefits-9 .line-md-document-code {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.benefits-9 .group {
  width: 58.33%;
  height: 75%;
  position: absolute;
  right: 20.83%;
  left: 20.83%;
  bottom: 12.5%;
  top: 12.5%;
  overflow: visible;
}
.benefits-9 .big-icon {
  width: 484px;
  height: 535.29px;
  position: absolute;
  left: 151px;
  top: 35px;
}
.benefits-9 .line-md-document-code2 {
  width: 484px;
  height: 484px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.benefits-9 .group2 {
  width: 58.33%;
  height: 75%;
  position: absolute;
  right: 20.83%;
  left: 20.83%;
  bottom: 12.5%;
  top: 12.5%;
  overflow: visible;
}




.benefits-10-panel {
  position: absolute;
  top: 2500;
  right: 10;
}
.benefits-10-panel:hover .icon1 {
  display: none;
}
.benefits-10-panel:hover .icon2 {
  display: block;
}

.benefits-10 {
  background: var(--white, #ffffff);
  border-radius: 30px;
  border-style: solid;
  border-color: var(--strokt-primary, rgba(107, 7, 237, 0.7));
  border-width: 2px;
  width: 511px;
  height: 398px;
  position: relative;
  box-shadow: var(--shadow-box-shadow, 0px 8px 35px 1px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}
.benefits-10 .security-and-reliability {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-4-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-4-font-size, 24px);
  font-weight: var(--font-4-font-weight, 700);
  position: absolute;
  left: 26px;
  top: 100px;
}
.benefits-10 .ai-ensures-enterprise-grade-security-and-compliance-with-the-highest-data-protection-standards {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: var(--font-2-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-2-font-size, 24px);
  font-weight: var(--font-2-font-weight, 400);
  position: absolute;
  left: 26px;
  top: 154px;
  width: 459px;
  height: 184px;
}
.benefits-10 .mini-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 9px;
  overflow: hidden;
}
.benefits-10 .material-symbols-shield-outline-rounded {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.benefits-10 .big-icon {
  width: 484px;
  height: 535.29px;
  position: absolute;
  left: 151px;
  top: 35px;
}
.benefits-10 .material-symbols-shield-outline-rounded2 {
  width: 521px;
  height: 521px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}




.me-board {
  width: 1100px;
  margin: auto;
  padding: 0 10px 0 10px;
}


.about-me {
  color: #000000;
  text-align: left;
  font-family: var(--font-5-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-5-font-size, 20px);
  font-weight: var(--font-5-font-weight, 700);
  margin-bottom: -20px;
}


.me-line {
  position: relative;
  width: calc(50% + 150px);
  height: 50px;
  margin-left: -150px;
}
.line-4-me {
  margin-top: -2px;
  border-style: dashed; 
  border-color: var(--primary, #6b07ed);
  border-width: 2px 0 0 0;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 32px;
}
.line-20 {
  margin-top: -2px;
  border-style: dashed;
  border-color: var(--primary, #6b07ed);
  border-width: 2px 0 0 0;
  width: 28px;
  height: 0px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  position: absolute;
  top: 35;
  right: -28;
}



.me-profile {
  display: flex;
  max-width: 1100px;
}

.me-profile > div {
  width: 50%;
}

.me-profile > div:nth-child(1) {
  text-align: center;
}
.me-profile > div:nth-child(2) {
  padding: 10 20 10 30;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo {
  border-radius: 50%;
  width: 289px;
  height: 289px;
  position: relative;
  object-fit: cover;
}

.me-name {
  margin-top: 1rem;
  font-family: var(--font-2-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-2-font-size, 32px);
  font-weight: var(--font-2-font-weight, 600);
}

.me-profile-text {
  margin-top: 1rem;
  font-family: var(--font-2-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-2-font-size, 20px);
  font-weight: var(--font-2-font-weight, 550);
}

.me-profile-text1 {
  font-family: var(--font-2-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-2-font-size, 20px);
  font-weight: var(--font-2-font-weight, 400);
}

.me-skills {
  font-family: var(--font-2-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-2-font-size, 20px);
  font-weight: var(--font-2-font-weight, 400);
}
.me-skills > div {
  margin-top: 15px;
}





.me-line-right {
  position: relative;
  width: calc(50% + 150px);
  height: 50px;
  margin-left: 50%;
  margin-right: -150px;
}
.line-4-me-right {
  margin-top: -2px;
  border-style: dashed; 
  border-color: var(--primary, #6b07ed);
  border-width: 2px 0 0 0;
  width: 100%;
  height: 0px;
  position: absolute;
  right: 0px;
  top: 32px;
}
.line-20-right {
  margin-top: -2px;
  border-style: dashed;
  border-color: var(--primary, #6b07ed);
  border-width: 2px 0 0 0;
  width: 28px;
  height: 0px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  position: absolute;
  top: 3;
  left: 0;
}




.success-board {
  position: relative;
  max-width: 1100px;
  height: 400px;
  margin: auto;
}



.line-22 {
  border-style: dashed;
  border-color: var(--primary, #6b07ed);
  border-width: 2px 0 0 0;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  width: calc(100% + 150px + 150px);
  height: 0px;
  margin: 0 -150px 0 -150px;
  position: absolute;
  top: 80;
  left: 0;
  z-index: -5;
}
.line-22-1 {
  border-style: dashed;
  border-color: var(--primary, #6b07ed);
  border-width: 2px 0 0 0;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  width: calc(100% + 150px + 150px);
  height: 0px;
  margin: 0 -150px 0 -150px;
  position: absolute;
  top: 170;
  left: 0;
  z-index: -5;
}
.line-22-2 {
  border-style: dashed;
  border-color: var(--primary, #6b07ed);
  border-width: 2px 0 0 0;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  width: calc(90% + 150px);
  height: 0px;
  margin: 0 0 0 -150px;
  position: absolute;
  top: 260;
  left: 0;
  z-index: -5;
}
.line-22-3 {
  border-style: dashed;
  border-color: var(--primary, #6b07ed);
  border-width: 2px 0 0 0;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  width: 150px;
  height: 0px;
  position: absolute;
  top: 0;
  right: -150;
  z-index: -5;
}


.frame-25-panel {
  position: absolute;
  top: 50;
  left: 5%;
  z-index: 5;
}
.frame-25 {
  background: var(--purple, rgb(193, 153, 244));
  border-radius: 30px;
  width: 566px;
  height: 58px;
  position: relative;
}
.delivered-6-k-worth-of-successful-projects-on-upwork {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  width: 506px;
}
.delivered-6-k-worth-of-successful-projects-on-upwork-span {
  color: var(--black-font, #000000);
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.delivered-6-k-worth-of-successful-projects-on-upwork-span2 {
  color: var(--black-font, #000000);
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.delivered-6-k-worth-of-successful-projects-on-upwork-span3 {
  color: var(--black-font, #000000);
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}




.frame-27-panel {
  position: absolute;
  top: 140;
  right: 5%;
  z-index: 5;
}
.frame-27 {
  background: var(--purple, rgb(193, 153, 244));
  border-radius: 30px;
  width: 664px;
  height: 58px;
  position: relative;
}
.known-for-fast-delivery-high-quality-and-excellent-communication {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  width: 604px;
}
.known-for-fast-delivery-high-quality-and-excellent-communication-span {
  color: var(--black-font, #000000);
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.known-for-fast-delivery-high-quality-and-excellent-communication-span2 {
  color: var(--black-font, #000000);
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.known-for-fast-delivery-high-quality-and-excellent-communication-span3 {
  color: var(--black-font, #000000);
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.known-for-fast-delivery-high-quality-and-excellent-communication-span4 {
  color: var(--black-font, #000000);
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.known-for-fast-delivery-high-quality-and-excellent-communication-span5 {
  color: var(--black-font, #000000);
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.known-for-fast-delivery-high-quality-and-excellent-communication-span6 {
  color: var(--black-font, #000000);
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.known-for-fast-delivery-high-quality-and-excellent-communication-span7 {
  color: var(--black-font, #000000);
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}




.frame-26-panel {
  position: absolute;
  top: 230;
  left: 15%;
  z-index: 5;
}
.frame-26 {
  background: var(--purple, rgb(193, 153, 244));
  border-radius: 30px;
  width: 676px;
  height: 58px;
  position: relative;
}
.close-to-100-completed-jobs-with-97-positive-feedback-instances {
  color: var(--black-font, #000000);
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  width: 616px;
}
.close-to-100-completed-jobs-with-97-positive-feedback-instances-span {
  color: var(--black-font, #000000);
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.close-to-100-completed-jobs-with-97-positive-feedback-instances-span2 {
  color: var(--black-font, #000000);
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.close-to-100-completed-jobs-with-97-positive-feedback-instances-span3 {
  color: var(--black-font, #000000);
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.close-to-100-completed-jobs-with-97-positive-feedback-instances-span4 {
  color: var(--black-font, #000000);
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}








.contact-board {
  position: relative;
  height: 1273px;
}

.bg-down {
  width: 95%;
  height: 1273px;
  margin: auto;
  background: var(
    --bg-purple,
    linear-gradient(
      -1.13deg,
      rgba(255, 254, 254, 1) 0%,
      rgba(232, 215, 254, 1) 100%
    )
  );
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: calc((100% - 95%) / 2);
}


.form {
  border-radius: 30px;
  border-style: solid;
  border-color: #616161;
  border-width: 3px;
  width: 759px;
  height: 491px;
  overflow: hidden;
  position: absolute;
  top: 100;
  left: calc((100% - 759px)/2);
}
.form .group-4 {
  position: absolute;
  inset: 0;
}
.form .frame-3 {
  background: #fcfcfc;
  border-radius: 30px;
  border-style: solid;
  border-color: #616161;
  border-width: 1px;
  width: 83%;
  height: 50px;
  position: absolute;
  left: 64px;
  top: 60px;
  overflow: hidden;
  padding: 12px;
}
.form .john-image {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  border: none;
  outline: none;
}
.form .name {
  color: #616161;
  text-align: left;
  font-family: var(--font-5-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-5-font-size, 20px);
  font-weight: var(--font-5-font-weight, 700);
  position: absolute;
  left: 78.47px;
  top: 36px;
  width: 74.97px;
}
.form .group-7 {
  position: absolute;
  inset: 0;
}
.form .frame-32 {
  background: #fcfcfc;
  border-radius: 30px;
  border-style: solid;
  border-color: #616161;
  border-width: 1px;
  width: 83%;
  height: 50px;
  position: absolute;
  left: 64px;
  top: 154px;
  overflow: hidden;
  padding: 12px;
}
.form .johnimage-2025-gmail-com {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  border: none;
  outline: none;
}
.form .email-address {
  color: #616161;
  text-align: left;
  font-family: var(--font-5-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-5-font-size, 20px);
  font-weight: var(--font-5-font-weight, 700);
  position: absolute;
  left: 75px;
  top: 130px;
}
.form .group-6 {
  position: absolute;
  inset: 0;
}
.form .frame-33 {
  background: #fcfcfc;
  border-radius: 30px;
  border-style: solid;
  border-color: #616161;
  border-width: 1px;
  width: 83%;
  height: 114px;
  position: absolute;
  left: 64px;
  top: 248px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
  resize: none;
  overflow: auto;
}
.form .requirement {
  color: #616161;
  text-align: left;
  font-family: var(--font-5-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-5-font-size, 20px);
  font-weight: var(--font-5-font-weight, 700);
  position: absolute;
  left: 75px;
  top: 224px;
}
.form .cta-main {
  background: var(--primary, #6b07ed);
  border-radius: 30px;
  width: 253px;
  height: 48px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 408px;
}
.form .get-in-touch {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  width: 122px;
}
.form .get-in-touch:hover {
  cursor: pointer;
}





.comment-panel {
  position: absolute;
  bottom: 320;
  width: 100%;
}
.comment {
  background: var(--white, #ffffff);
  height: 274px;
  box-shadow: var(--shadow-box-shadow, 0px 8px 35px 1px rgba(0, 0, 0, 0.25));
  overflow: auto;
  scrollbar-width: none;
  padding: 30 0 30 0;
  display: flex;
}
.comment .card {
  width: 400px;
  min-width: 400px;
  height: 100%;
  border-right: 2px solid rgba(139, 135, 135, 0.2);
  display: flex;
  padding: 0 25 0 25;
  transition: transform linear .3s;
}
.comment .card > div:nth-child(1) {
  width: 30%;
}
.comment .card > div:nth-child(2) {
  width: 70%;
}
.comment .client-avatar {
  border-radius: 50%;
  border-style: solid;
  border-color: #616161;
  border-width: 1px;
  width: 79px;
  height: 79px;
  object-fit: cover;
}
.comment .client-name {
  height: 70px;
  color: #000000;
  text-align: left;
  font-family: var(--font-5-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-5-font-size, 20px);
  font-weight: var(--font-5-font-weight, 700);
  line-height: 60px;
}
.comment .feedback-content {
  color: #000000;
  text-align: left;
  font-family: var(--font-3-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-3-font-size, 20px);
  line-height: var(--font-3-line-height, 150%);
  font-weight: var(--font-3-font-weight, 400);
}





.comment-tool-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.comment-tool {
  background: var(--white, #ffffff);
  height: 274px;
  box-shadow: var(--shadow-box-shadow, 0px 8px 35px 1px rgba(0, 0, 0, 0.25));
  overflow: auto;
  scrollbar-width: none;
  padding: 30 0 30 0;
  display: flex;
}
.comment-tool .tool-card {
  width: 400px;
  min-width: 400px;
  height: 100%;
  border-right: 2px solid rgba(139, 135, 135, 0.2);
  display: flex;
  padding: 0 25 0 25;
  transition: transform linear .3s;
}
.comment-tool .tool-card > div:nth-child(1) {
  width: 30%;
}
.comment-tool .tool-card > div:nth-child(2) {
  width: 70%;
}
.comment-tool .co-avatar {
  border-style: solid;
  border-color: #616161;
  border-width: 1px;
  width: 78px;
  height: 79px;
  position: relative;
  object-fit: cover;
}
.comment-tool .co-name {
  height: 70px;
  color: #000000;
  text-align: left;
  font-family: var(--font-5-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-5-font-size, 20px);
  font-weight: var(--font-5-font-weight, 700);
  line-height: 60px;
}
.comment-tool .feedback-co {
  color: #000000;
  text-align: left;
  font-family: var(--font-3-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--font-3-font-size, 20px);
  line-height: var(--font-3-line-height, 150%);
  font-weight: var(--font-3-font-weight, 400);
}





.faqs-board {
  padding: 4rem;
}

.faqs-title {
  font-family: var(--font-5-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-5-font-size, 32px);
  font-weight: var(--font-5-font-weight, 700);
  text-align: center;
}
.q {
  width: 100%;
  height: 50px;
  font-family: var(--font-5-font-family, "Poppins-Bold", sans-serif);
  font-size: var(--font-5-font-size, 20px);
  font-weight: var(--font-5-font-weight, 400);
  color: #6B07ED;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  border: 2px solid #6B07ED;
  margin-top: 2rem;
}



.footer-board {
  background: #272727;
  height: 166px;
}
.footer-board > div:nth-child(1) > div {
  width: 50%;
}
.footer-board > div:nth-child(1) {
  display: flex;
  height: 80%;
}
.footer-board > div:nth-child(2) {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.footer-board > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer-board .email-address {
  color: #ffffff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.social-links {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.footer-board > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 20%;
  color: #ffffff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}




/* 1440  */
@media (max-width: 1440px) {
  
}




/* 1100  */
@media (max-width: 1100px) {

  .header {
    padding: 0 20 0 20;
  }
  .header > div:nth-child(1) {
    display: none;
  }
  .navbar {
    width: 75%;
  }
  .header > div:nth-child(3) {
    width: calc(100% - 75%);
    display: flex;
    justify-content: center;
  }


  .frame-4 {
    font-size: var(--font-1-font-size, 80px);
  }


  .works-board {
    width: auto;
    height: 4100px;
    padding-top: 10px;
    overflow: hidden;
  }
  .benefits-1-panel, .benefits-2-panel, .benefits-4-panel, .benefits-5-panel, .benefits-6-panel, .benefits-7-panel, .benefits-8-panel, .benefits-9-panel, .benefits-10-panel {
    position: initial;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  .me-board {
    width: auto;
  }
  .me-line-right {
    width: 50%;
  }

  .me-profile {
    display: block;
  }
  .me-profile > div {
    width: 100%;
  }
  .me-profile-text1 {
    margin: 2rem auto 2rem auto;
  }
  .me-skills {
    max-width: 500px;
    margin: auto;
  }


  .success-board {
    width: 100%;
    overflow: hidden;
  }
  .frame-25-panel {
    left: calc((100% - 566px) / 2);
    right: auto;
  } 
  .frame-27-panel {
    left: calc((100% - 664px) / 2);
    right: auto;
  }
  .frame-26-panel {
    left: calc((100% - 676px) / 2);
    right: auto;
  }

  .form {
    width: 676px;
    left: calc((100% - 676px)/2);
  }

}



/* 768  */
@media (max-width: 768px) {

  .navbar {
    width: 100%;
  }
  .header > div:nth-child(1), .header > div:nth-child(3) {
    display: none;
  }


  .frame-4 {
    font-size: var(--font-1-font-size, 50px);
  }

  .automate-workflows-engage-customers-and-cut-costs-effortlessly-to-boost-your-business {
    margin: 1rem auto 0 auto;
  }

  .cta {
    width: 80%;
  }

  .form {
    width: 500px;
    left: calc((100% - 500px)/2);
  }
  .form .frame-3, .form .frame-32, .form .frame-33   {
    width: 73%;
  }
}